<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Main Html</h1>
    <a href="/page/Login">로그인</a>
    <a href="#">전체회원조회(ALL)</a>
    <a href="/page/SelectOne">회원검색</a>
    <!-- 1. a태그 클릭시 전체회원의 정보를 가져오는getAlluser 라우터로 접속
        
        2. getAlluser 라우터에서는 전체회원의 모든 정보를 가져오기 -->

    <hr />
    <a href="/page/Join">회원가입</a>
    <a href="#">회원삭제</a>
    <a href="#">회원정보수정</a>
  </body>
</html>
