<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/user/SelectOne" method="post">
      <input type="text" name="selectId" />
      <input type="submit" value="제출" />
    </form>
    <!-- nunjucks 문법에서 값이 없을때는 출력자체가 되지않는다
        null, undefind -->
    <p>ID : {{selectUser[0].id}}</p>
    <p>PW : {{selectUser[0].pw}}</p>
    <p>NICK : {{selectUser[0].nick}}</p>
  </body>
</html>
